<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li class="">
            <a href="/">Usage</a>
          </li>
        </ul>
        <div id="ua-shortname-one" class="btn-group">
          <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
            <%# dump in the shortname here, and below, all possible ones %>
            Shortname
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a>Put</a></li>
            <li><a>UA</a></li>
            <li><a>Strings</a></li>
            <li><a>Here</a></li>
          </ul>
        </div>
        <div id="ua-shortname-two" class="btn-group">
          <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
            Shortname
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a>Put</a></li>
            <li><a>UA</a></li>
            <li><a>Strings</a></li>
            <li><a>Here</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>