<h1>SniffDiff Usage</h1>
<p>This application is controlled entirely via the URL. For example, navigate to <a href="/firefox/opera/miketaylr.com">/firefox/opera/miketaylr.com</a>.</p>
<p>[user agent shortname] / [user agent shortname] / [url]</p>
<p>Possible user agent shortnames are:</p>
<ul>
  <li>chrome</li>
  <li>firefox</li>
  <li>ie</li>
  <li>opera</li>
  <li>safari</li>
</ul>
<p>SniffDiff is on <a href="http://github.com/miketaylr/sniffdiff">github</a>. Copyright 1980 - <%= Time.new.year %>.
